<h1>Editing program</h1>

<%= render "form", program: @program %>

<br>

<div>
  <%= link_to "Show this program", university_program_path %> |
  <%= link_to "Back to programs", university_programs_path %>
</div>
