<p style="color: green"><%= notice %></p>

<%= render @program %>

<div>
  <%= link_to "Edit this program", edit_university_program_path %> |
  <%= link_to "Back to programs", university_programs_path %>

</div>
