<tr>
  <td>
    <%= university.universidad %>
  </td>
  <td>
    <%= university.pais %>
  </td>
  <td>
    <%= link_to "mostrar", university, class:"link" %>
  </td>
  <td>
    <%= link_to "Programas", university_programs_path(university)%>
  </td>
</tr>