
<h1 class="text-center mt-5">Universidades</h1>

<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Universidad</th>
                <th>Pais</th>
                <th>Mostrar</th>
                <th>Programas</th>
              </tr>
            </thead>
            <%= render @universities %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

    

