
<div class="row mt-5">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <p>Universidad: <%= @university.universidad%></p>
        <p>Pais <%= @university.pais%></p>
        <p>Programas disponibles: <%= link_to "Programas", university_programs_path(@university)%></p>
        <div>
          <%= link_to "Regresar", universities_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </div>
</div>

